<div style="width: 100%;display: flex;justify-content: center;padding-top: 50px;" >
    <div class="container">
        <section id="about" class="about"  >
         
                <h1 style="text-align: center;font-weight: bolder;"
                    id="nompr">Prince Ange Emmanuel DEDY</h1>
                <p style="text-align: center;color: rgb(97, 97, 97);">Software Developer | Angular | Django |
                    TailwindCss | Bootstrap</p>


                    
                <div class="trait">

                </div>
                <div class="descrpdj">
                    <img src="assets/images/idee.png" height="10px" width="30px" id="idee" alt="">
                    <p
                        style="text-align: center;color: rgb(116, 116, 116);background-color: rgba(238, 238, 238, 0.275);padding-bottom: 20px;border-radius: 10px;padding-top: 20px;padding-left: 20px;padding-right: 20px;">
                        Prince Ange Emmanuel DEDY, est un Software Developer <strong>Angular</strong> |
                        <strong>Django</strong> | <strong>Tailwind css</strong> | <strong>Bootstrap</strong> .
                        Depuis 2 ans maintenant je réalise des projets complets avec <strong>Python</strong> &
                        <strong>JavaScript</strong> . Je souhaite bien travailler dans une société de la place pour
                        apporter de mes connaissances et élargir mes compétences 👨🏾‍💻 .
                        Je peux tout faire 😌 I’m smart .</p>
                </div>

       
    </section>
</div>