<div style="width: 100%;display: flex;justify-content: center;background-color: rgba(247, 246, 248, 0.296);">
    <div class="container">
        <section id="formation" class="formation pb-0" >

            <h1 style="text-align: center;font-weight: bolder;padding-top: 50px;" class="Grostexte">Formation</h1>
            <p style="text-align: center;color: rgb(97, 97, 97);">Lorem, ipsum dolor sit amet consectetur adipisicing
                am.</p>


            <div class="container" >
                <div class="education-horizontal-timeline" style="height: auto;">
                    <div style="display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

                    grid-template-rows: repeat(auto, 1fr);
                    grid-column-gap: 20px;
                    grid-row-gap: 10px;">
                        <div  style="margin-bottom: 30px;">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <h3 style="font-size: 0.7rem;">22 Janvier 2012 - 24 Mars 2001
                                    </h3>
                                    <span>Développeur Backend
                                    </span>

                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                            <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                            <div>

                                                <span>Tech Solutions
                                                </span><br>
                                                <h3 style="font-size: 0.7rem;color: #6e6e6e;padding-top: 4px;">Paris,
                                                    France
                                                </h3>
                                            </div>


                                        </h4>

                                        <p class="description">
                                            Développement de solutions backend en Python et Django Responsable de
                                            l'architecture et du développement des services backend


                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                                <div class="framecss">
                                    <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">

                                    <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/figma.png" width="25px" height="25px" alt="">


                                </div>
                            </div>
                        </div>

                        <div  style="margin-bottom: 30px;">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <h3 style="font-size: 0.7rem;">22 Janvier 2012 - 24 Mars 2001
                                    </h3>
                                    <span>Développeur Backend
                                    </span>

                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                            <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                            <div>

                                                <span>Tech Solutions
                                                </span><br>
                                                <h3 style="font-size: 0.7rem;color: #6e6e6e;padding-top: 4px;">Paris,
                                                    France
                                                </h3>
                                            </div>


                                        </h4>

                                        <p class="description">
                                            Développement de solutions backend en Python et Django Responsable de
                                            l'architecture et du développement des services backend


                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                                <div class="framecss">
                                    <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">

                                    <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/figma.png" width="25px" height="25px" alt="">


                                </div>
                            </div>
                        </div>

                        <div  style="margin-bottom: 30px;">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <h3 style="font-size: 0.7rem;">22 Janvier 2012 - 24 Mars 2001
                                    </h3>
                                    <span>Développeur Backend
                                    </span>

                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                            <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                            <div>

                                                <span>Tech Solutions
                                                </span><br>
                                                <h3 style="font-size: 0.7rem;color: #6e6e6e;padding-top: 4px;">Paris,
                                                    France
                                                </h3>
                                            </div>


                                        </h4>

                                        <p class="description">
                                            Développement de solutions backend en Python et Django Responsable de
                                            l'architecture et du développement des services backend


                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                                <div class="framecss">
                                    <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">

                                    <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/figma.png" width="25px" height="25px" alt="">


                                </div>
                            </div>
                        </div>

                        <div  style="margin-bottom: 30px;">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <h3 style="font-size: 0.7rem;">22 Janvier 2012 - 24 Mars 2001
                                    </h3>
                                    <span>Développeur Backend
                                    </span>

                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                            <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                            <div>

                                                <span>Tech Solutions
                                                </span><br>
                                                <h3 style="font-size: 0.7rem;color: #6e6e6e;padding-top: 4px;">Paris,
                                                    France
                                                </h3>
                                            </div>


                                        </h4>

                                        <p class="description">
                                            Développement de solutions backend en Python et Django Responsable de
                                            l'architecture et du développement des services backend


                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                                <div class="framecss">
                                    <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">

                                    <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/figma.png" width="25px" height="25px" alt="">


                                </div>
                            </div>
                        </div>

                        <div  style="margin-bottom: 30px;">
                            <div class="single-horizontal-timeline">
                                <div class="experience-time">
                                    <h3 style="font-size: 0.7rem;">22 Janvier 2012 - 24 Mars 2001
                                    </h3>
                                    <span>Développeur Backend
                                    </span>

                                </div><!--/.experience-time-->
                                <div class="timeline-horizontal-border">
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="single-timeline-horizontal"></span>
                                </div>
                                <div class="timeline">
                                    <div class="timeline-content">
                                        <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                            <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                            <div>

                                                <span>Tech Solutions
                                                </span><br>
                                                <h3 style="font-size: 0.7rem;color: #6e6e6e;padding-top: 4px;">Paris,
                                                    France
                                                </h3>
                                            </div>


                                        </h4>

                                        <p class="description">
                                            Développement de solutions backend en Python et Django Responsable de
                                            l'architecture et du développement des services backend


                                        </p>
                                    </div><!--/.timeline-content-->
                                </div><!--/.timeline-->
                                <div class="framecss">
                                    <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">

                                    <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                    <img src="assets/images/figma.png" width="25px" height="25px" alt="">


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>





        </section>
    </div>
    </div>