<div style="width: 100%;display: flex;justify-content: center;">
    <div class="container">
        <section id="experience" class="experience pb-0 border-top-0">

            <h1 style="text-align: center;font-weight: bolder;padding-top: 50px;" class="Grostexte">Experience</h1>
            <p style="text-align: center;color: rgb(97, 97, 97);">Lorem, ipsum dolor sit amet consectetur adipisicing
                am.</p>


                <div class="container elds" >
                    <div class="education-horizontal-timeline" style="height: auto;">
                        <div style="display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
                        grid-template-rows: repeat(auto, 1fr);
                        grid-column-gap: 20px;
                        grid-row-gap: 10px;">
                            <div  style="margin-bottom: 30px;">
                                <div class="single-horizontal-timeline">
                                    <div class="experience-time">
                                        <h3 style="font-size: 0.7rem;">
                                        </h3>
                                        <p class="box-description capitalize mb-0" style="font-size: 0.7rem;color: #636a82;;text-transform: capitalize;"><i class="bi bi-calendar4 me-2"></i>
                                            22 Janvier 2012 - 24 Mars 2001
                                        </p>
                                        <span>Développeur Backend
                                        </span>
    
                                    </div><!--/.experience-time-->
                                   <hr>
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                                <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                                <div>
    
                                                    <span  style="text-transform: capitalize;">Tech Solutions
                                                    </span><br>
                                                    <p class="box-description capitalize" style="font-size: 0.7rem;color: #636a82;padding-top: 4px;text-transform: capitalize;"><i class="bi bi-geo me-2"></i>Bietry,
                                                        Abidjan - Côte d'Ivoire
                                                    </p>
                                                </div>
    
    
                                            </h4>
    
                                            <p class="box-description">
                                                Développement  de de solutions backend en Python et Django Responsable de
                                                l'architecture et du développement des services backend .
    
    
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                    <div class="framecss">
                                        <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
    
                                        <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/figma.png" width="25px" height="25px" alt="">
    
    
                                    </div>
                                </div>
                            </div>
    
                           <div  style="margin-bottom: 30px;">
                                <div class="single-horizontal-timeline">
                                    <div class="experience-time">
                                        <h3 style="font-size: 0.7rem;">
                                        </h3>
                                        <p class="box-description capitalize mb-0" style="font-size: 0.7rem;color: #636a82;;text-transform: capitalize;"><i class="bi bi-calendar4 me-2"></i>
                                            22 Janvier 2012 - 24 Mars 2001
                                        </p>
                                        <span>Développeur Backend
                                        </span>
    
                                    </div><!--/.experience-time-->
                                   <hr>
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                                <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                                <div>
    
                                                    <span  style="text-transform: capitalize;">Tech Solutions
                                                    </span><br>
                                                    <p class="box-description capitalize" style="font-size: 0.7rem;color: #636a82;padding-top: 4px;text-transform: capitalize;"><i class="bi bi-geo me-2"></i>Bietry,
                                                        Abidjan - Côte d'Ivoire
                                                    </p>
                                                </div>
    
    
                                            </h4>
    
                                            <p class="box-description">
                                                Développement  de de solutions backend en Python et Django Responsable de
                                                l'architecture et du développement des services backend .
    
    
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                    <div class="framecss">
                                        <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
    
                                        <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/figma.png" width="25px" height="25px" alt="">
    
    
                                    </div>
                                </div>
                            </div>
    
                           <div  style="margin-bottom: 30px;">
                                <div class="single-horizontal-timeline">
                                    <div class="experience-time">
                                        <h3 style="font-size: 0.7rem;">
                                        </h3>
                                        <p class="box-description capitalize mb-0" style="font-size: 0.7rem;color: #636a82;;text-transform: capitalize;"><i class="bi bi-calendar4 me-2"></i>
                                            22 Janvier 2012 - 24 Mars 2001
                                        </p>
                                        <span>Développeur Backend
                                        </span>
    
                                    </div><!--/.experience-time-->
                                   <hr>
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                                <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                                <div>
    
                                                    <span  style="text-transform: capitalize;">Tech Solutions
                                                    </span><br>
                                                    <p class="box-description capitalize" style="font-size: 0.7rem;color: #636a82;padding-top: 4px;text-transform: capitalize;"><i class="bi bi-geo me-2"></i>Bietry,
                                                        Abidjan - Côte d'Ivoire
                                                    </p>
                                                </div>
    
    
                                            </h4>
    
                                            <p class="box-description">
                                                Développement  de de solutions backend en Python et Django Responsable de
                                                l'architecture et du développement des services backend .
    
    
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                    <div class="framecss">
                                        <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
    
                                        <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/figma.png" width="25px" height="25px" alt="">
    
    
                                    </div>
                                </div>
                            </div>
    
                           <div  style="margin-bottom: 30px;">
                                <div class="single-horizontal-timeline">
                                    <div class="experience-time">
                                        <h3 style="font-size: 0.7rem;">
                                        </h3>
                                        <p class="box-description capitalize mb-0" style="font-size: 0.7rem;color: #636a82;;text-transform: capitalize;"><i class="bi bi-calendar4 me-2"></i>
                                            22 Janvier 2012 - 24 Mars 2001
                                        </p>
                                        <span>Développeur Backend
                                        </span>
    
                                    </div><!--/.experience-time-->
                                   <hr>
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                                <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                                <div>
    
                                                    <span  style="text-transform: capitalize;">Tech Solutions
                                                    </span><br>
                                                    <p class="box-description capitalize" style="font-size: 0.7rem;color: #636a82;padding-top: 4px;text-transform: capitalize;"><i class="bi bi-geo me-2"></i>Bietry,
                                                        Abidjan - Côte d'Ivoire
                                                    </p>
                                                </div>
    
    
                                            </h4>
    
                                            <p class="box-description">
                                                Développement  de de solutions backend en Python et Django Responsable de
                                                l'architecture et du développement des services backend .
    
    
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                    <div class="framecss">
                                        <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
    
                                        <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/figma.png" width="25px" height="25px" alt="">
    
    
                                    </div>
                                </div>
                            </div>
    
                           <div  style="margin-bottom: 30px;">
                                <div class="single-horizontal-timeline">
                                    <div class="experience-time">
                                        <h3 style="font-size: 0.7rem;">
                                        </h3>
                                        <p class="box-description capitalize mb-0" style="font-size: 0.7rem;color: #636a82;;text-transform: capitalize;"><i class="bi bi-calendar4 me-2"></i>
                                            22 Janvier 2012 - 24 Mars 2001
                                        </p>
                                        <span>Développeur Backend
                                        </span>
    
                                    </div><!--/.experience-time-->
                                   <hr>
                                    <div class="timeline">
                                        <div class="timeline-content">
                                            <h4 class="title d-flex justify-content-start align-items-start gap-2">
                                                <img src="assets/images/codep.JPG" width="40px" height="40px" alt="">
                                                <div>
    
                                                    <span  style="text-transform: capitalize;">Tech Solutions
                                                    </span><br>
                                                    <p class="box-description capitalize" style="font-size: 0.7rem;color: #636a82;padding-top: 4px;text-transform: capitalize;"><i class="bi bi-geo me-2"></i>Bietry,
                                                        Abidjan - Côte d'Ivoire
                                                    </p>
                                                </div>
    
    
                                            </h4>
    
                                            <p class="box-description">
                                                Développement  de de solutions backend en Python et Django Responsable de
                                                l'architecture et du développement des services backend .
    
    
                                            </p>
                                        </div><!--/.timeline-content-->
                                    </div><!--/.timeline-->
                                    <div class="framecss">
                                        <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
    
                                        <img src="assets/images/githubw.png" width="25px" height="25px" alt="">
                                        <img src="assets/images/figma.png" width="25px" height="25px" alt="">
    
    
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
    
    
        </section>
      
    </div>
</div>