

.testimonial_area .owl-carousel .owl-dots {
    display: block !important;
    text-align: center; }
    .testimonial_area .owl-carousel .owl-dots .owl-dot {
      height: 10px;
      width: 10px;
      background: #d8d8d8;
      border-radius: 17px;
      display: inline-block;
      margin-right: 10px;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      .testimonial_area .owl-carousel .owl-dots .owl-dot.active {
        height: 12px;
        width: 12px;
        background: #854fee; }
    @media (max-width: 991px) {
      .testimonial_area .owl-carousel .owl-dots {
        display: none !important; } }
  .testimonial_area .owl-carousel .owl-item img {
    width: auto !important; }
  
  .testi_item {
    padding: 50px 55px;
    margin-bottom: 200px;
    margin-left: 10px;
    margin: 0px 10px 80px;
    box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    @media (max-width: 991px) {
      .testi_item {
        margin-bottom: 0px; } }
    @media (max-width: 575px) {
      .testi_item {
        padding: 30px 20px; } }
    .testi_item img {
      border-radius: 5px; }
    .testi_item .col-lg-8 {
      vertical-align: middle;
      align-self: center; }
    @media (max-width: 991px) {
      .testi_item .testi_text {
        margin-top: 50px; } }
    .testi_item .testi_text h4 {
      font-size: 20px;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .testi_item .testi_text p {
      margin-bottom: 0px; }
    .testi_item:hover {
      box-shadow: 0px 10px 20px 0px rgba(118, 85, 225, 0.1); }
  
  
      .promo-box {
          background-color: #fff;
          margin-bottom: 2rem;
          padding: 3rem 2.5rem;
          border: 1px solid rgba(0, 0, 0, 0.05);
          border-radius: 0;
          transition: all 0.2s ease-in-out;
      }
      .promo-center {
          text-align: center;
      }
  
  
      .card-text {
        font-style: italic;
        font-size: 1rem;
      }
      
      .bi-quote {
        font-size: 1.5rem;
        color: #6c757d;
        margin-right: 5px;
      }
  
  .carousel-control-next-icon , .carousel-control-prev-icon {
    filter: invert();
  }
