<div style="width: 100%;display: flex;justify-content: center;padding-bottom: 0;">
    <div class="container pb-0" >
        <section  id="projet" class="projet pb-0" >

                    <h1 style="text-align: center;font-weight: bolder;padding-top: 50px;"
                    class="Grostexte">Portfolio</h1>
                <p style="text-align: center;color: rgb(97, 97, 97);">Lorem, ipsum dolor sit amet consectetur adipisicing am.</p>


               
                        <div class="container elds " >
                            <div class="education-horizontal-timeline row align-items-start pb-0" >

                                <div class="col-md-4 stique " >
                                    <img src="assets/images/vv.jpg"  style="box-shadow: 1px 1px 10px 5px rgba(213, 213, 213, 0.161);" width="100%" alt="">
                                    
                                    <div class="col-md-12 col-xl-12 mt-4 aos-init aos-animate " style="padding-bottom: 40px;" >
                                        <div class="promo-box promo-center h-100 py-3 pb-1 px-2" >

                                            <h6 class="title d-flex justify-content-center align-items-start gap-2">
                                                <img src="assets/images/imageb.png"   class="rounded-circle border"
                                                width="50"
                                                height="50"
                                                style="max-height: 50px;"  alt="">
                                                <div style="padding: 0;">
    
                                                    <span class="text-start">Prince Ange Emmanuel DEDY
                                                    </span><br>
                                                    <h3 style="font-size: 0.5rem;color: #6e6e6e;padding-top: 4px;padding-left: 13px;">Software Developer Angular | Django | TailwindCss | Bootstrap | Flutter
                                                    </h3>
                                                </div>
    
    
                                            </h6>
                                            
                                        </div><!-- / promo-center -->
                                        <button class="promo-box  promo-center h-100 py-3 pb-1 w-100 px-1" style="background-color: blue;color: white;">

                                            <h6 class="title d-flex justify-content-center align-items-center gap-2" >
                                               
                                                <img src="assets/images/cv.png"  style="filter: invert();" width="25px" alt="">
                                                    <span class="text-start">Télécharger maintenant mon CV
                                                    </span>
                                               
    
                                            </h6>
                                            
                                        </button><!-- / promo-center -->
                                    </div>
                                </div>

                                <div class="row col-md-8 m-0 px-0" >
                                   
                                    <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big mb-2">
                                                <i class="bi bi-code-slash" style="font-size: 1.5rem;"></i>
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">DEVELOPPEMENT WEB </h6>
                                            <p class="box-description" style="font-size: 1rem;">Les langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour coder efficacement mes Frontend et faciliter la consommation de mes API , j'ai appris son Framework ANGULAR .</p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/django.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/bootstrap.png" width="25px" height="25px" alt="">
                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                               
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                
                                                <img src="assets/images/typescrr.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/tailwindcss.png" width="25px" height="25px" alt="">
                                              
                                            
                            
                            
                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>
                                   
                                
                                      <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big ">
                                                <i class="bi bi-cloud-arrow-up " style="font-size: 1.5rem;"></i>
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">DEVOPS, CLOUD & CI/CD</h6>
                                            <p class="box-description">J'apprends à stocker mes données dans des Bases de données , depuis mes premiers part en Python avec le langage SQLite , me permettant ainsi de creer des sites dynamiques et réactifs avec les actions CRUD ( Create , Read , Update , Delete).</p>
                                            <div class="framecss justify-content-center ">
                                                
                                                
                                                <i class="bi bi-github fs-5"></i>
                                                <img src="assets/images/gitlab.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/docker.png" width="25px" height="25px" alt="">

                                        

                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>
                                      <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big mb-2">
                                                <i class="bi bi-phone" style="font-size: 1.5rem;"></i>
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">DEVELOPPEMENT MOBILE</h6>
                                            <p class="box-description">J'apprends à stocker mes données dans des Bases de données , depuis mes premiers part en Python avec le langage SQLite , me permettant ainsi de creer des sites dynamiques et réactifs avec les actions CRUD ( Create , Read , Update , Delete).</p>
                                            <div class="framecss justify-content-center ">
                                                
                                                
                                            
                                                <img src="assets/images/flutter.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/dart.png" width="25px" height="25px" alt="">
                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>
                                      <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big mb-2">
                                                <i class="bi bi-database" style="font-size: 1.5rem;"></i>
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">BASE DE DONNEE</h6>
                                            <p class="box-description">J'apprends à stocker mes données dans des Bases de données , depuis mes premiers part en Python avec le langage SQLite , me permettant ainsi de creer des sites dynamiques et réactifs avec les actions CRUD ( Create , Read , Update , Delete).</p>
                                            <div class="framecss justify-content-center ">
                                                
                                                
                                                <img src="assets/images/vercel.png" width="40px" height="25px" alt="" >
                                                <img src="assets/images/netlify.png" width="25px" height="25px" alt="" >
                                                <img src="assets/images/render.png" width="25px" height="25px" alt="" >
                                                <img src="assets/images/mysqls.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/firebase.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/postgress.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/sqlitee.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/redis.png" width="25px" height="25px" alt="">
                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>
                                      <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big mb-2">

                                                <i class="bi bi-vector-pen" style="font-size: 1.5rem;"></i>
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">WEB DESIGN & PLANNING</h6>
                                            <p class="box-description">Depuis longtemps j'ai des compétences pour les emplacements de formes et couleurs à tel ou tel endroit . J'utilise ses compétences pour faciliter mes réalisations de maquette de sites avec des outils modernes tels que FIGMA et PHOTOSHOP .</p>
                                            <div class="framecss justify-content-center ">
                                                
                                                
                                                
                                                <img src="assets/images/figma.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/photoshop.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/trello.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/worde.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/excele.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/poxer.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/teamsmicro.png" width="25px" height="25px" alt="">
                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>
                                      <div class="col-12 col-md-12 col-lg-6 aos-init aos-animate elsm" style="padding-bottom: 40px;" >
                                        <div class="promo-box  promo-center h-100 py-4" >
                                            <div class="promo-big mb-2">
                                                <i class="bi bi-globe2" style="font-size: 1.5rem;"></i> 
                                                
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">CMS & RESEAUX SOCIAUX</h6>
                                            <p class="box-description">Depuis longtemps j'ai des compétences pour les emplacements de formes et couleurs à tel ou tel endroit . J'utilise ses compétences pour faciliter mes réalisations de maquette de sites avec des outils modernes tels que FIGMA et PHOTOSHOP .</p>
                                            <div class="framecss justify-content-center ">
                                                
                                                
                                                
                                                <img src="assets/images/wordpress.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/youygdgd.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/facgdhd.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/gdhjddaa.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/linkegdgd.png" width="25px" height="25px" alt="">
                                            </div>
                                        </div><!-- / promo-center -->
                                    </div>

                                
                                

                                
                                    
                
                                
                                </div>
                           
                            </div>
                            
                            <h6 class="pt-3"><i class="bi bi-laptop me-2" style="font-size: 1.5rem;"></i>#Applications web réalisées </h6>
                            <div class="education-horizontal-timeline row align-items-start pb-0 pt-0" >
                                <div class="row col-md-12 m-0 px-0">

                            

                                    
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/aw.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/gga.jpeg" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">DEPANE</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/c1.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/codep.JPG" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">BLAY LIBRARY</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/c3.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/codep.JPG" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">KINSION</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>

                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4 "  data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/c2.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/hch.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">HINGTON SHOP</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>

                                

                                </div>
                            </div>
                            <h6 class="pt-3"><i class="bi bi-phone me-2" style="font-size: 1.5rem;"></i>#Applications mobiles réalisées </h6>
                            <div class="education-horizontal-timeline row align-items-start pb-0 pt-0" >
                                <div class="row col-md-12 m-0 px-0">

                            

                                    
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/aw.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/gga.jpeg" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">DEPANE</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center h-100 py-4" >
                                            <div class="row h-100" >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/c1.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/codep.JPG" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">BLAY LIBRARY</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            <div class="framecss justify-content-center ">
                                                <img src="assets/images/python.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/angular.png" width="25px" height="25px" alt="">


                                                
                                            
                                                <img src="assets/images/htmld.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/csss.png" width="25px" height="25px" alt="">
                                            
                                                <img src="assets/images/javascript.png" width="25px" height="25px" alt="">
                                                

                                                <img src="assets/images/flask.png" width="25px" height="25px" alt="">
                                                <img src="assets/images/htmldx.png" width="25px" height="25px" alt="">

                                            
                                            
                            
                            
                                            </div>
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                  

                                

                                </div>
                            </div>
                            <h6 class="mt-4"><i class="bi bi-vector-pen me-2" style="font-size: 1.5rem;"></i>#Design web réalisés </h6>
                            <div class="education-horizontal-timeline row align-items-start pb-0 pt-0" >
                                <div class="row col-md-12 m-0 px-0">

                            

                                    
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-0" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/djjasdkj.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/figma.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">FIGMA</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-0" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/prehdhd.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/figma.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">FIGMA</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/jdjhhdh.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/figma.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">FIGMA</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/nmnmns.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/figma.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">FIGMA</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>

                                

                                </div>
                            </div>
                            
                            <h6 class="mt-4 "> <i class="bi bi-globe2 me-2" style="font-size: 1.5rem;"></i> #Contenus réseaux sociaux </h6>
                            <div class="education-horizontal-timeline row align-items-start pb-0 pt-0" >
                                <div class="row col-md-12 m-0 px-0">

                            

                                    
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/hehdehe.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/youygdgd.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">YOUTUBE</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                    <div class="col-md-6 col-xl-6 aos-init aos-animate elsm pb-4" data-bs-toggle="modal" data-bs-target="#myModal" (click)="recupUrl('https://emmanueldedy.onrender.com/')"  >
                                        <div class="promo-box promo-boss promo-center py-4" >
                                            <div class="row " >

                                          
                                            <div class="col-lg-6 pb-0 p-0 d-flex align-items-center">
                                                <img src="assets/images/bshjds.png" height="100%" alt="">
                                            </div>
                                            <div class="col-lg-6">

                                        
                                            <div class="promo-big mb-2">

                                                <img src="assets/images/facgdhd.png" width="30px" height="30px" alt="">
                                            </div><!-- / promo-big -->
                                            <h6 class="box-title mb-15">FACEBOOK</h6>
                                            <p class="box-description">Le langage JavaScript , est celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations des éléments dest celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. av st celui avec qui je fais mes dynamisations des éléments de mes sites web HTML/CSS. Pour c. avec qui je fais mes dynamisations deec qui je fais mes dynamisations de </p>
                                            
                                            </div>
                                        </div>
                                        </div><!-- / promo-center -->

                                    </div>
                                  

                                

                                </div>
                            </div>


                        </div>
                      
    </section>
</div>
</div>


<!-- Modal -->
 <div class="skils">


<div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
    <div class="modal-dialog" style="width: 100%;">
      <div class="modal-content" style="width: 100%;">
        <app-phone-preview [siteUrl]="projecturl"></app-phone-preview>
      </div>
    </div>
  </div>
</div>