.elds .box-description {
    font-size: 0.7rem!important;
}

.promo-box {
    background-color: #fff;
    margin-bottom: 2rem;
    padding: 3rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}
.promo-center {
    text-align: center;
}

.promo-boss:hover{
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(183, 183, 183, 0.2)

}





.elsm {
    min-width: 250px!important;
}

@media (min-width: 1000px) {
    .stique {
        position: sticky;
        top: 100px;
        padding-left: 0;
        align-self: flex-start; /* Assure que l'élément reste en haut dans un flex container */
    }
}